.navbar {
    height: 4rem;
}
.dropdown-toggle {
    cursor: pointer;
}

.dropdown-list {
    margin: .5rem;
}

.dropdown-menu {
    left: -100%;
}

.nav-item img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}