.navbar {
    height: 4rem;
}
.dropdown-toggle {
    cursor: pointer;
}

.dropdown-list {
    margin: .5rem;
}
.dropdown-list.signOut {
    cursor: pointer;
}

.dropdown-menu {
    left: -50%;
}

.nav-item img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}