<div class="sticky-top">
    <div class="list-group">
        <a 
        class="list-group-item list-group-item-action"
        [class.active]="!activeCategory"
        routerLink="/products"
        >
            All Products
        </a>
        <a 
        class="list-group-item list-group-item-action" 
        *ngFor="let category of category"
        routerLink="/products"
        [queryParams]= "{category: category.key}"
        [class.active]= "activeCategory === category.key"
        >
        {{category.name}}
        </a>
    </div>
</div>