/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

html {
    box-sizing: content-box;
    font-size: 100%;
}

body {
    padding: 5rem 0 0;
}